.top-bar {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.img-wrapper {
  overflow: hidden;
  height: 230px;
  background-size: cover;
  background-position: center;
  width: 230px;
  border-radius: 12px;
  margin: auto;
}

.recipe-wrapper {
  padding: 1rem;
}

.recipe-wrapper ol {
  padding-left: 1rem;
}

.dish-info {
  display: flex;
  align-items: center;
}

.dish-info .clock-icon {
  margin-right: 2px;
}

.dish-info svg {
  margin-left: 6px;
}
